@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #EB8989;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #F58C89;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FFD9A9;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFA28A;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFFFD6;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #FF9B6E;
}
a:visited {
     color: #FFBE4E;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
